<div>
<button (click)="back()">back</button>
<div *ngIf="ser.ind ">
    <div class="col-xl-12 col-lg-12">
<h1 style="text-align: center;"> India</h1>
<div class="iod col-xl-12 col-lg-12" ></div>
<p>
    India (Hindi: Bhārat), officially the Republic of India (Hindi: Bhārat Gaṇarājya),
    [23] is a country in South Asia. It is the second-most populous country, 
    the seventh-largest country by land area, and the most populous democracy
     in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on 
     the southwest, and the Bay of Bengal on the southeast, it shares land borders
      with Pakistan to the west;[f] China, Nepal, and Bhutan to the north; and 
      Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the
       vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands
        share a maritime border with Thailand and Indonesia.
</p>
</div>
</div>
<div *ngIf="ser.cit">
    <div class="col-xl-12 col-lg-12">
    <h1 style="text-align: center;">Cities</h1>
    <div class="iod1 col-xl-12 col-lg-12" ></div>
    <p class="fn">Bangalore  officially known as Bengaluru[12] 
        (About this soundlisten)), is the capital and the largest city of the Indian 
        state of Karnataka. It has a population of more than 8 million and a metropolitan 
        population of around 11 million, making it the third most populous city and fifth
         most populous urban agglomeration in India.[13] Located in southern India on
          the Deccan Plateau, at a height of over 900 m (3,000 ft) above sea level,
           Bangalore is known for its pleasant climate throughout the year. Its 
           elevation is the highest among the major cities of India.[14]
    </p>
    </div>
    </div>
    <div *ngIf="ser.heat ">
    <div class="col-xl-12 col-lg-12">
        <h1 style="text-align: center;">Health</h1>
        <div class="iod2 col-xl-12 col-lg-12" ></div>
        <p class="fn1">The meaning of health has evolved over time. In
             keeping with the biomedical perspective, early definitions
              of health focused on the theme of the body's ability to function; 
              health was seen as a state of normal function that could be 
              disrupted from time to time by disease. An example of such a 
              definition of health is: "a state characterized by anatomic,
               physiologic, and psychological integrity; ability to perform personally 
               valued family, work, and community roles; ability to deal with physical,
                biological, psychological, and social stress".[2] Then in 1948, 
                in a radical departure from previous definitions, the World Health 
                Organization (WHO) proposed a definition that aimed higher: linking 
                health to well-being, in terms of "physical, mental, and social
                 well-being, and not merely the absence of disease and infirmity".[3] 
                
        </p>
        </div>
        </div>
    </div>